/* DETAILS OF OUR MENUS NAV BAR */


.detailP{

    font-size: 1.5rem;
    text-align: center;
}

.detailsBar li{
    border: none;
    background-color: #ebe3db;
}



.detailsUl{
    display: flex;
    justify-content: space-evenly;
}

ul .currentDetails{
    background-color: #950000;
    height: 100%;
    color: white;
 
}


a {
	padding: 1rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

a:hover {
    height: 5rem;
}

/* DETAILS OF OUR MENUS IMAGES */

img{
    width: 100%;
    height: auto;
}

.containerImgALL, .containerImgDessert, .containerImgCocktails{
    background-color: #ebe3db;
    padding: 2rem 1rem;
}

.containerImg1to8 {
display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 1rem 1rem; 
  grid-template-areas: 
    "img1 img2"
    "img3 img4"
    "img5 img6"
    "img7 img8"
    }
    
    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }
    .img5 { grid-area: img5; }
    .img6 { grid-area: img6; }
    .img7 { grid-area: img7; }
    .img8 { grid-area: img8; }
    .img9bis{
        display: none;
    }

    .containerImg9{
        padding-top: 2rem;
        margin: 0 6rem;
    }


/* DETAILS OF OUR DESERTS IMAGES */


.containerImg10to11 {
    display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr; 
      gap: 1rem 2rem; 
      grid-template-areas: 
        "img10 img11"
    
        }
        
        .img10 { grid-area: img10; }
        .img11 { grid-area: img11; }
        .img12bis{
            display: none;
        }
    
        .containerImg12{
            padding-top: 2rem;
            margin: 0 6rem;
        }

/* DETAILS OF OUR COCKTAILS IMAGES */


.containerImg13to14 {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "img13 img14"; 
  }

  .img13 { grid-area: img13; }
  .img14 { grid-area: img14; }
  .img15bis{
      display: none;
  }


.containerImg15{
    padding-top: 2rem;
    margin: 0 6rem;
}



/* *****************************************************************
RESPONSIVE TABLETTE
***************************************************************** */

@media screen and (min-width: 780px){

    /* *********************************************************
    CONTAINER IMAGES ALL***************************** */

    .containerImg1to8 {
        display: grid; 
          grid-auto-columns: 1fr; 
          grid-template-columns: 1fr 1fr; 
          grid-template-rows: 1fr 1fr 1fr; 
          gap: 1rem 2rem; 
          grid-template-areas: 
            "img1 img2 img3"
            "img4 img5 img6"
            "img7 img8 img9bis"
            }

            
            
            .img1 { grid-area: img1; }
            .img2 { grid-area: img2; }
            .img3 { grid-area: img3; }
            .img4 { grid-area: img4; }
            .img5 { grid-area: img5; }
            .img6 { grid-area: img6; }
            .img7 { grid-area: img7; }
            .img8 { grid-area: img8; }
            .img9bis { grid-area: img9bis; }
            .img9bis{
                display:flex;
            }
        
            .img9{
                display: none;
            }

        


            .detailsBar{
                margin: 0 12rem;
            }
            
            .detailsUl{
             
                margin: 2rem 8em;
                display: flex;
                justify-content: space-around;
               
            
            }
            li.liMenu{
                padding: 0 2rem;
                background-color: transparent;
            
            }
            
            .liMenu a{
                background-color: #ebe3db;
               
            }

        /* *********************************************************
    CONTAINER IMAGES DESSERTS***************************** */
    .containerImg10to11 {
        display: grid; 
          grid-auto-columns: 1fr; 
          grid-template-columns: 1fr 1fr; 
          grid-template-rows: 1fr
          gap: 1rem 2rem; 
          grid-template-areas: 
            "img10 img11 img12"
           
            }

            .img10 { grid-area: img10; }
            .img11 { grid-area: img11; }
            .img12bis { grid-area: img12bis; }
            .img12bis{
                display:flex;
            }
        
            .img12{
                display: none;
            }



  
    /* DETAILS OF OUR COCKTAILS IMAGES */


.containerImg13to14 {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 4em 2em; 
    grid-template-areas: 
      "img13 img14 img15bis"; 
  }

  .img10 { grid-area: img13; }
  .img11 { grid-area: img14; }
  .img15bis { grid-area: img15bis; }
  .img15bis{
      display: flex;
  }


.img15{
   display: none;
}
.containerImg1to8 {
    display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr; 
      gap: 1rem 2rem; 
      grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9bis"
        }

        .img1 { grid-area: img1; }
        .img2 { grid-area: img2; }
        .img3 { grid-area: img3; }
        .img4 { grid-area: img4; }
        .img5 { grid-area: img5; }
        .img6 { grid-area: img6; }
        .img7 { grid-area: img7; }
        .img8 { grid-area: img8; }
        .img9bis { grid-area: img9bis; }
        .img9bis{
            display:flex;
        }
    
        .img9{
            display: none;
        }

        /* *****************************************************************
RESPONSIVE DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px){

	body{
		max-width: 1400px;
		margin: auto;
	}


}